html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;   
}

body {
    margin: 0;
    padding: 0;
    // font-size: 18px;
    line-height: 1.3;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
//Flexbox 
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }

    &-col {
        flex-direction: column;
    }
}

//Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(medium){
        display: none;
    }
}

//Typography
.text {
    &-2 {
        font-size: 2rem;
    }

    &-3 {
        font-size: 3rem;
    }

    &-4 {
        font-size: 4rem;
    }

    &-align-c {
        text-align: center;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-fraunces {
        font-family: $fraunces;
    }

    &-barlow {
        font-family: $barlow;
    }

    //Spacing
    .m {
        &t-1 {
            margin-top: 1em;
        }
        &t-2 {
            margin-top: 2em;
        }
        &t-3 {
            margin-top: 3em;
        }
    }
}