.services {
    max-width: inherit;
    display: grid;
    @include breakpoint-up (medium) {
        grid-template-columns: 1fr 1fr;
    
    }

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    &__transform__blurb {
        padding: 5.5em 9.8125em 0 9.8125em;
    }

    &__audience {
        padding: 5.5em 9.8125em 0 9.8125em;
    }
    
    &__transform__blurb h1, &__audience h1 {
        color: $very-dark-desaturated-blue;
    }

    &__transform__blurb p, &__audience p {
        color: $dark-grayish-blue;
    }

    &__transform__blurb a, &__audience a {
        margin-top: 3em;
        position: relative;
        text-decoration: none;
        padding-left: 0.6em;
        color: $very-dark-desaturated-blue;
    }

    &__transform__blurb a::after, &__audience a::after{
        content: " ";
        display: block;
        position: absolute;
        border-radius: 5px;
        height:0.6em;
        width:108%;
        text-align: center;
        bottom: 0;
        z-index: -1;
    }
    
    &__transform__blurb a::after {
        background-color: $yellow;
        opacity: 0.6;
    }
   
    &__audience a::after{
        background-color: $soft-red;
        opacity: 0.6;
    }

    &__graphic-design {
        color: $dark-desaturated-cyan;
        position: relative;
        // margin: 1em;
    }

    &__graphic-design img {
        color: $dark-desaturated-cyan;
        position: absolute;
        display: block;
        width: 100%;
        z-index: -1;
    }

    &__text {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__text p {
        font-size: 1.125em;
    }

    &__photography {
        color: $dark-blue;
        position: relative;
    }
}

.testimonials {
    max-width: 90em;
    padding: 9.6875em;
    
    &__title {
        width: 100%;
        font-size: 1.2em;
        letter-spacing: 0.3em;
        font-weight: 800;
        color: $grayish-blue;
        margin-bottom: 4.625em;
    }

    .clients img {
        width: 4.625em;
        height: 4.625em;
        border-radius: 50%;
        margin-bottom: 4.5em;
    }

    &__text {
        font-family: $barlow;
        color: $very-dark-grayish-blue;
        line-height: 1.125em;
    }
    
    &__name {
        font-family: $fraunces;
        font-size: 1.2em;
        font-weight: 800;
        margin-top: 4.75em;
    }

    &__role {
        font-family: $barlow;
        font-size: 0.8em;
        color: $grayish-blue;
    }

    &__card {
        padding: 3em;
    }
}

.gallery {
    max-width: inherit;
    &__wrapper {
        max-width: inherit;
        display: grid;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    @include breakpoint-down (medium) {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
        }

    }
    @include breakpoint-up (medium) {
        &__wrapper {
            grid-template-columns: repeat(4, 1fr);
        }

    }   

}